@import "variables";
@icon-font-path: "../lib/bootstrap/fonts/";
@import "../lib/bootstrap/less/bootstrap";

// @container-desktop: @container-tablet;
// @container-large-desktop: @container-tablet;

a:hover {
  text-decoration: none;
}

.branding {
  font-weight: 900;
  text-transform: uppercase;
}

ol.situations {
  .situation {
    background-color: white;
    box-shadow: 0 1px 2px darken(@body-bg, 10);
    margin-bottom: 15px;

    &.relationship-situation {
      width: 100%;
    }

    @media (min-width: @screen-lg){
      width: ~"calc(25% - 11.25px)";
    }

    @media (max-width: @screen-lg){
      width: ~"calc(25% - 11.25px)";
    }

    @media (max-width: @screen-md){
      width: ~"calc(33.33% - 10px)";
    }

    @media (max-width: @screen-sm){
      width: ~"calc(50% - 7.5px)";
    }

    @media (max-width: @screen-xs){
      width: 100%;
    }

    .situation-section {
      padding: 14px 20px 16px;
    }

    .situation-name {
      margin: 0;
    }

    &.situation-landscape {
      background-color: #FAFAFA;
      display: table;

      &.suggestion {
        cursor: pointer;

        &.selected, &:hover {
          background-color: @brand-primary;
        }
      }

      & > .situation-section {
        background-color: rgba(255, 255, 255, 0.75);
        margin-left: 8em;
      }

      & > .display-image {
        display: table-cell;
        width: 8em;

        img {
          display: none;
        }

        & + .situation-section {
          display: table-cell;
        }
      }
    }
  }
}

.display-image {
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  transition: all 1s ease-in-out;

  &:before {
    border: 1px solid rgba(0,0,0,0.1);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  > img {
    width: 100%;
  }
}

.loading {
  opacity: 0;
}

.situation-description {
  border-bottom: 1px solid #E9E9E9;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: @padding-large-horizontal 0;
  padding-bottom: @padding-large-horizontal;
}

@media (max-width: @screen-sm-min){
  #situation-context {
    top: 0;
  }
}

#situation {
  .nav-pills {
    margin-bottom: @padding-large-vertical;
  }
}

.padded-tb {
  padding-top: @padding-large-vertical;
  padding-bottom: @padding-large-vertical;
}

.subdued {
  color: fadeout(@text-color, 50%);
}

.centered {
  text-align: center;
}

.toolbar-text {
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
}

ol.situations .situation-landscape {
  margin-bottom: 1px;
}

#overview {
  & > .display-image {
    box-shadow: 0 1px 3px #C1C7CE;

    &:before {
      background-color: transparent;
    }
  }
}

#situation-header {
  margin-bottom: 20px;
}

[class^="cm-"]:before, [class*=" cm-"]:before {
  position: relative;
  top: 1.7pt;
}
