@import "../lib/bootstrap/less/variables.less";



// @font-family-sans-serif: "Helvetica Neue", "sans-serif";
// @font-size-base: 12pt;
@brand-primary: #333;
@body-bg: #F2F1F1;
@navbar-default-bg: #fff;
@pale-yellow: #FEE78C;
@pale-blue: #D1EDF2;
@navbar-height: 75px;
@modal-backdrop-bg: #fff;
@modal-backdrop-opacity: 0.85;
