@import "../lib/bootstrap/less/variables.less";



@font-family-sans-serif: "Lato", "sans-serif";
@headings-font-weight: 200;
@btn-font-weight: 400;
// @font-size-base: 12pt;
// @brand-primary: #333;
// @brand-primary: #EB4961;
@brand-primary: darken(#45B2F3, 0);
@brand-success: #27ae60;
// @brand-primary: darken(#6F6F6F, 5);
@grid-gutter-width: 50px;
@navbar-default-bg: #fff;
@pale-yellow: #FEE78C;
@pale-blue: #D1EDF2;
@navbar-height: 65px;
@modal-backdrop-bg: #292F33;
@modal-backdrop-opacity: 0.8;


@btn-primary-border: transparent;
@btn-success-border: transparent;
@btn-info-border: transparent;
@btn-warning-border: transparent;
@btn-danger-border: transparent;
