@charset "UTF-8";

@font-face {
  font-family: "cm-streamline";
  src:url("fonts/cm-streamline.eot");
  src:url("fonts/cm-streamline.eot?#iefix") format("embedded-opentype"),
    url("fonts/cm-streamline.woff") format("woff"),
    url("fonts/cm-streamline.ttf") format("truetype"),
    url("fonts/cm-streamline.svg#cm-streamline") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cm-streamline" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cm-"]:before,
[class*=" cm-"]:before {
  font-family: "cm-streamline" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-add-1:before {
  content: "n";
}
.cm-edit-3:before {
  content: "c";
}
.cm-logo:before {
  content: "a";
}
.cm-smiley-happy-5:before {
  content: "b";
}
.cm-smiley-happy-4:before {
  content: "d";
}
.cm-causes:before {
  content: "e";
}
.cm-social-facebook:before {
  content: "h";
}
